@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="collection-header">
    <div class="collection-hero">
        <div class="collection-hero__image">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner5.jpg")
                 src=@Url.Content("~/assets/client/images/slideshow-banners/banner5.jpg")
                 style="object-fit: cover; background-position: top center; width: 100%; height: 100%;" alt="LaptopShop"
                 title="LaptopShop" />
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            <div class="text-center mb-4">
                <h2 class="h2">Laptop Shop</h2>
                <div class="rte-setting">
                    <p>
                        LaptopShop được thành lập vào năm 2014, đánh dấu bước khởi đầu của thương hiệu tại Việt Nam và là một trong những cửa hàng đầu tiên được thành lập. Vào năm 2017, trong giai đoạn mở rộng ra thị trường chính hãng tại Việt Nam, LaptopShop chính thức trở thành một trong những hệ thống phân phối chính thức qua sự hợp tác với DigiWorld. Nhờ đó, khách hàng có thể hoàn toàn yên tâm về chất lượng và nguồn gốc của các sản phẩm tại LaptopShop. Đến nay, với hơn 500 mẫu laptop đến từ các thương hiệu hàng đầu thế giới được phân phối bởi Digiworld và các đối tác, từ các mẫu laptop cho đến phụ kiện đi kèm, LaptopShop đã thành công trong việc đa dạng hóa sản phẩm, mang đến cho khách hàng những trải nghiệm mua sắm tốt nhất.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner.png")
                 src=@Url.Content("~/assets/client/images/slideshow-banners/banner.png") alt="About Us" />
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner1.png")
                 src=@Url.Content("~/assets/client/images/slideshow-banners/banner1.png") alt="About Us" />
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner4.png")
                 src=@Url.Content("~/assets/client/images/slideshow-banners/banner4.png") alt="About Us" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Một trong những điều truyền cảm hứng nhất về Smartband shop là sứ mệnh của chúng tôi: "Tạo ra trải
                nghiệm mua sắm tốt nhất, giúp mọi người trên thế giới sống tốt hơn". Điều này không chỉ là một câu nói,
                mà là cốt lõi của mọi quyết định chúng tôi đưa ra. Chúng tôi tin rằng mỗi sản phẩm, dịch vụ và quyết
                định của chúng tôi sẽ giúp mọi người trên thế giới sống tốt hơn. Đó là lý do tại sao chúng tôi không
                ngừng cải tiến và phát triển, để mang lại trải nghiệm mua sắm tốt nhất cho mọi người. Chúng tôi tin rằng
                mỗi sản phẩm, dịch vụ và quyết định của chúng tôi sẽ giúp mọi người trên thế giới sống tốt hơn. Đó là lý
                do tại sao chúng tôi không ngừng cải tiến và phát triển, để mang lại trải nghiệm mua sắm tốt nhất cho
                mọi người. Chúng tôi tin rằng mỗi sản phẩm, dịch vụ và quyết định của chúng tôi sẽ giúp mọi người trên
                thế giới sống tốt hơn. Đó là lý do tại sao chúng tôi không ngừng cải tiến và phát triển, để mang lại
                trải nghiệm mua sắm tốt nhất cho mọi người. Chúng tôi tin rằng mỗi sản phẩm, dịch vụ và quyết định của
                chúng tôi sẽ giúp mọi người trên thế giới sống tốt hơn. Đó là lý do tại sao chúng tôi không ngừng cải
                tiến và phát triển, để mang lại trải nghiệm mua sắm tốt nhất cho mọi người.
            </p>
            <p>+ Giờ bán hàng và nghe điện thoại : 8h30 đến 20h30 (tất cả các ngày trong tuần)</p>
            <p>+ ĐT liên hệ: 1900.6429 (nhánh 7)</p>
            <p>Chi nhánh Lĩnh Nam - HN</p>
            <p>+ Thời gian phục vụ :</p>
            <p>8h30 đến 12h00 / 13h đến 17h30 (t2 đến t7 / nghỉ CN)</p>
            <p>+ ĐT liên hệ: 1900.6429 (nhánh 5)</p>
            <p>Trả lời thắc mắc điện thoại, tin nhắn, coment trên fanpage facebook Cửa Hàng TCS</p>
            <p>+ Thời gian phục vụ : 8h30 đến 20h30 (tất cả các ngày trong tuần)</p>
            <p>Trả lời thắc mắc tin nhắn trên các kênh hợp tác shopee và lzd</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
            <h2 class="h2">ĐỊNH HƯỚNG CỦA CHÚNG TÔI</h2>
            <div class="rte-setting">
                Chúng tôi tin rằng sự tư vấn, giao tiếp và dịch vụ xuất sắc dành cho khách hàng sẽ là nền tảng cho một kết quả tài chính vững chắc và phát triển bền vững. Laptop World đặt ra các tiêu chí phát triển công ty trên bốn phương diện chính:
                <ol>
                    <li><strong>Hiệu quả Quản lý Lãnh đạo</strong>: Chúng tôi nỗ lực tuyển chọn, phát triển và giữ chân những nhân viên xuất sắc từ mọi bộ phận để thúc đẩy sự đổi mới và phát triển chuyên môn. Chúng tôi chú trọng vào việc xây dựng một môi trường làm việc chuyên nghiệp, đa dạng và hòa nhập, cũng như không ngừng tái cơ cấu quản lý và chia sẻ kinh nghiệm nhằm tạo ra giá trị tốt nhất cho công việc.</li>
                    <li><strong>Tâm huyết với Nghề</strong>: Laptop World coi trọng việc lựa chọn và phát triển những cá nhân tài năng, đồng thời khen thưởng những đóng góp xuất sắc để khuyến khích sự tận tâm và đổi mới. Chúng tôi xây dựng chính sách đãi ngộ tốt nhất cho nhân sự gắn bó lâu dài, nhằm tạo điều kiện cho sự phát triển cá nhân và chuyên môn.</li>
                    <li><strong>Giá trị của Khách hàng</strong>: Tại Laptop World, chúng tôi đặt giá trị và sự hài lòng của khách hàng lên hàng đầu. Chúng tôi cam kết trở thành đối tác đáng tin cậy, mang đến những sản phẩm và dịch vụ tốt nhất, đồng thời duy trì mối quan hệ lâu dài với khách hàng thông qua sự tin tưởng và giá trị thiết thực.</li>
                    <li><strong>Điều hành Tăng trưởng Lợi nhuận</strong>: Chúng tôi luôn tìm kiếm cơ hội để học hỏi từ những kinh nghiệm và khám phá những ý tưởng mới. Mỗi ngày là một cơ hội để cải thiện và phát triển, điều này giúp định hình tương lai và sự phát triển lâu dài của Laptop World.</li>
                </ol>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h2 class="h2">Contact Us</h2>
            <ul class="addressFooter">
                <li>
                    <i class="icon anm anm-map-marker-al"></i>
                    <p>55 Gallaxy Enque, 2568 steet, 23568 NY</p>
                </li>
                <li class="phone">
                    <i class="icon anm anm-phone-s"></i>
                    <p>(440) 000 000 0000</p>
                </li>
                <li class="email">
                    <i class="icon anm anm-envelope-l"></i>
                    <p>sales@yousite.com</p>
                </li>
            </ul>
            <hr />
            <ul class="list--inline site-footer__social-icons social-icons">
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Facebook">
                        <i class="icon icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Twitter">
                        <i class="icon icon-twitter"></i>
                        <span class="icon__fallback-text">Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Pinterest">
                        <i class="icon icon-pinterest"></i>
                        <span class="icon__fallback-text">Pinterest</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Instagram">
                        <i class="icon icon-instagram"></i>
                        <span class="icon__fallback-text">Instagram</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Tumblr">
                        <i class="icon icon-tumblr-alt"></i>
                        <span class="icon__fallback-text">Tumblr</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on YouTube">
                        <i class="icon icon-youtube"></i>
                        <span class="icon__fallback-text">YouTube</span>
                    </a>
                </li>
                <li>
                    <a class="social-icons__link" href="#" target="_blank"
                       title="Belle Multipurpose Bootstrap 4 Template on Vimeo">
                        <i class="icon icon-vimeo-alt"></i>
                        <span class="icon__fallback-text">Vimeo</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

